USE [master]
GO
/****** Object:  Database [AirportDB]    Script Date: 10/04/2025 09:54:44 ******/
CREATE DATABASE [AirportDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AirportDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AirportDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AirportDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AirportDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AirportDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AirportDB]
GO
/****** Object:  Table [dbo].[Baggage]    Script Date: 10/04/2025 09:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baggage](
	[baggage_id] [int] IDENTITY(1,1) NOT NULL,
	[passenger_number] [int] NOT NULL,
	[passenger_name] [varchar](50) NOT NULL,
	[passenger_sername] [varchar](50) NOT NULL,
	[flight_id] [int] NOT NULL,
	[weight] [decimal](10, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Baggage] PRIMARY KEY CLUSTERED 
(
	[baggage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crew]    Script Date: 10/04/2025 09:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crew](
	[flight_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[flight_id] ASC,
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/04/2025 09:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[position] [varchar](50) NOT NULL,
	[contact_info] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flights]    Script Date: 10/04/2025 09:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[flight_id] [int] IDENTITY(1,1) NOT NULL,
	[flight_number] [varchar](20) NOT NULL,
	[destination] [varchar](100) NOT NULL,
	[departure_time] [datetime] NOT NULL,
	[arrival_time] [datetime] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Flights] PRIMARY KEY CLUSTERED 
(
	[flight_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Flights] ON 

INSERT [dbo].[Flights] ([flight_id], [flight_number], [destination], [departure_time], [arrival_time], [status]) VALUES (1, N'Fuck', N'Hui', CAST(N'2025-04-07T18:04:30.517' AS DateTime), CAST(N'2025-04-06T18:04:30.517' AS DateTime), N'Fuckk')
SET IDENTITY_INSERT [dbo].[Flights] OFF
GO
ALTER TABLE [dbo].[Baggage]  WITH CHECK ADD  CONSTRAINT [FK_Baggage_Flights1] FOREIGN KEY([flight_id])
REFERENCES [dbo].[Flights] ([flight_id])
GO
ALTER TABLE [dbo].[Baggage] CHECK CONSTRAINT [FK_Baggage_Flights1]
GO
ALTER TABLE [dbo].[Crew]  WITH CHECK ADD  CONSTRAINT [FK__Crew__employee_i__5DCAEF64] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Crew] CHECK CONSTRAINT [FK__Crew__employee_i__5DCAEF64]
GO
ALTER TABLE [dbo].[Crew]  WITH CHECK ADD FOREIGN KEY([flight_id])
REFERENCES [dbo].[Flights] ([flight_id])
GO
USE [master]
GO
